html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
}

/* logo*/
.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-conteiner, .button-conteiner, .section-clients__list, .section-team__list, .section-post__item, .footer-items, .list-contacts, .site-nav {
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #E5E5E5;
}

.page-header_conteiner {
  display: flex;
  align-items: center;
}

.conteiner-nav {
  display: flex;
  align-items: center;
}

/* Modifiers logo*/
.logo--accent:hover, .logo--accent:focus {
  color: #2196F3;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav_link:hover, .site-nav_link:focus {
  color: #2196F3;
}

.site-nav_item {
  position: relative;
}
.site-nav_item + .site-nav_item {
  margin-left: 50px;
}

.current:after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  bottom: 0;
  left: 0;
}

.list-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.list-contacts__item + .list-contacts__item {
  margin-left: 50px;
}

.list-contacts__register {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contacts__register:hover, .list-contacts__register:focus {
  color: #2196F3;
}

.list-contacts__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contacts__mail:hover, .list-contacts__mail:focus {
  fill: #2196F3;
}
.list-contacts__item:hover .list-contacts__mail, .list-contacts__item:focus .list-contacts__mail {
  fill: #2196F3;
}

.list-contacts__tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contacts__tell:hover, .list-contacts__tell:focus {
  fill: #2196F3;
}
.list-contacts__item:hover .list-contacts__tell, .list-contacts__item:focus .list-contacts__tell {
  fill: #2196F3;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.section-footer__box {
  display: flex;
}

/*____________________________*/
.footer-aside {
  display: block;
}

.box {
  margin-bottom: 20px;
}

/* Modifiers logo*/
.web--color {
  color: #2196F3;
}

.logo--color {
  color: #F5F4FA;
}

/*-------------------------------*/
.footer-networks {
  display: flex;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-networks__holder {
  display: block;
}

.footer-networks__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: left;
}

/*section social networks*/
.box {
  display: flex;
  width: 206px;
  height: 44px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.box__button {
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 120px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__button:hover, .box__button:focus {
  background-color: #2196F3;
}

.box__button--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.box__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box__icon:hover, .box__icon:focus {
  fill: #FFFFFF;
}
.box__button:hover .box__icon, .box__button:focus .box__icon {
  fill: #FFFFFF;
}

.box__icon--color {
  fill: #FFFFFF;
}

/*subscribe*/
.footer-subscribe {
  display: block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 0;
  /* outline: 1px solid black; */
}

.footer-subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-subscribe__email {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  margin-right: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.footer-subscribe__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-right: 10px;
}

.footer-subscribe__icon {
  display: block;
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0;
  bottom: 0;
  /* outline: 1px solid black; */
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #F5F4FA;
  margin-bottom: 9px;
}

.footer-items__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-items__contact:hover, .footer-items__contact:focus {
  color: #2196F3;
}

.conteiner-fon {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
  background-image: linear-gradient(to right, rgba(85, 62, 62, 0.5), rgba(49, 40, 49, 0.5), rgba(55, 61, 55, 0.5)), url(../img/Fon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero__caption {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-hero__button {
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #F5F4FA;
  background-color: #2196F3;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
.section-hero__button:hover, .section-hero__button:focus {
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-post {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-post__list {
  display: flex;
  gap: 30px;
}

.section-post__item {
  width: 370px;
  text-align: left;
}

.section-post__conteiner {
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-post__icon {
  width: 70px;
  height: 70px;
}

.section-post__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-post__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-work {
  padding-bottom: 94px;
}

.section-work__caption {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-work__conteiner {
  display: flex;
  gap: 30px;
}

.section-work__overlay {
  position: relative;
}

.section-work__img {
  display: flex;
}

.section-work__tip {
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-work__text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F4FA;
}

.section-team__caption {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team__list {
  display: flex;
  justify-content: space-between;
}

.section-team__subtitle {
  border: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.section-team__picture {
  margin-bottom: 30px;
}

.section-team__name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team__job {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 113px;
}

.section-clients__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.section-clients__subtitle {
  display: flex;
  width: 170px;
  height: 92px;
  list-style: none;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__subtitle:hover, .section-clients__subtitle:focus {
  border-color: #2196F3;
}

.section-clients__list {
  display: flex;
  gap: 30px;
}

.section-clients__logo {
  display: block;
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__subtitle:hover .section-clients__logo, .section-clients__subtitle:focus .section-clients__logo {
  fill: #2196F3;
}

.section-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-conteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-conteiner__item + .button-conteiner__item {
  margin-left: 8px;
}

.button-conteiner__bar {
  padding: 6px 22px;
  min-width: 73px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #F5F4FA;
  color: #212121;
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-conteiner__bar:focus, .button-conteiner__bar:hover {
  background-color: #2196F3;
  color: #F5F4FA;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

/* examples-conteiner */
.examples-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-conteiner__border {
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-conteiner__border:nth-child(n+7) {
  margin-bottom: 0px;
}
.examples-conteiner__border:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-conteiner__img {
  position: relative;
  overflow: hidden;
}

.examples-conteiner__picture {
  display: block;
}

.examples-conteiner__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.examples-conteiner__border:hover .examples-conteiner__overlay {
  transform: translateY(-100%);
}

.examples-conteiner__item {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.examples-conteiner__paragraph {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 322px;
  height: 168px;
}

/*examples-table*/
.examples-table {
  padding: 20px 24px;
}

.examples-table__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-table__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.modal-box {
  display: block;
  margin: 0;
  /* outline: 1px solid black; */
  width: 448px;
  /* height: 342px; */
  margin-left: 40px;
  margin-bottom: 20px;
}

.modal-box-list {
  list-style-type: none;
  margin-bottom: 20px;
}

.modal-box-item {
  /* outline: 1px solid black; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.modal-box-item:last-child {
  margin-bottom: 0;
}

.modal-box-united {
  position: relative;
}

.modal-box-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.comment-box {
  resize: none;
  height: 120px;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment-box:hover {
  border-color: #2196F3;
}

.modal-box-button {
  display: block;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 124px;
  margin-top: 30px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.modal-box-border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  cursor: pointer;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-border:hover {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.checkbox-markup {
  /* outline: 1px solid black; */
  position: relative;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #FFFFFF;
  fill: #FFFFFF;
  background-size: contain;
  padding: 0;
  top: 0;
  left: 13px;
  transform: translateY(30%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: #2196F3;
  fill: #FFFFFF;
  background-origin: border-box;
  border: #2196F3;
}

.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 36px;
  cursor: pointer;
}

.checkbox-input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.modal-box-icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: cover;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-border:hover + .modal-box-icons, .modal-box-border:focus + .modal-box-icons {
  fill: #2196F3;
}

.close {
  display: flex;
  padding: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background-color: #FFFFFF;
  margin-top: 8px;
  margin-left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-img {
  display: block;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #000000;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.close-img:hover {
  fill: #2196F3;
}

.box {
  display: flex;
  width: 206px;
  height: 44px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.box_button {
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 120px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box_button:hover, .box_button:focus {
  background-color: #2196F3;
}

.box_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box_icon:hover, .box_icon:focus {
  fill: #FFFFFF;
}
.box_button:hover .box_icon, .box_button:focus .box_icon {
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */