@import "./utils/variables";
@import "./utils/normalize";
@import "./components/conteiner";
@import "./components/logo";
@import "./utils/placeholder";
@import "./components/page-header";
@import "./components/site-nav";
@import "./components/list-contacts";
@import "./components/footer";
@import "./components/page-studio/hero";
@import "./components/page-studio/section-post";
@import "./components/page-studio/section-work";
@import "./components/page-studio/section-team";
@import "./components/page-studio/section-clients";
@import "./components/page-portfolio/portfolio";
@import "./components/page-portfolio/examples-conteiner";
@import "./components/backdrop";
@import "./components/icon-box";

