.section-clients{
    padding-top: 94px;
    padding-bottom: 113px;
  }

  .section-clients__caption{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  }
  
  
  .section-clients__subtitle{
    display:flex;
    width: 170px;
    height: 92px;
    list-style: none;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
      border-color: $accent-color;
    }


  }
 
  
  .section-clients__list{
    display: flex;
    gap: 30px;
    @extend %list;
  }
  
  .section-clients__logo{
   display:block;
   width: 106px;
   height: 60px;
   fill:$box-button;
   cursor: pointer;
  
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


   .section-clients__subtitle:hover &,
   .section-clients__subtitle:focus &{
     fill:$accent-color;
   }
  }
  
  
  