.section-post{
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
    }
  
  .section-post__list{
  
    @media screen and (min-width:768px){
      display: flex;
      flex-wrap: wrap;
      margin:-15px;
    }
  
  @media screen and (min-width:1200px){
      display: flex;
      margin:-15px;
  }

  }
  
  .section-post__item{
    // width: 370px;
    text-align: left;
    @extend %list;

    @media screen and (min-width:768px){
      flex-basis:calc((100% - 2 * 30px) / 2);
      margin:15px;
    }
  
  @media screen and (min-width:1200px){
    flex-basis:calc((100% - 8 * 15px) / 4);
    margin:15px;
  }

  }
  
  .section-post__conteiner{
    // width: 270px;
    // height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $button-color;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  
  .section-post__icon{
    width:70px;
    height:70px;
  }
  
  .section-post__title{
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;

  @media screen and (max-width:479px){
   text-align: center;
  }
  }
  
  .section-post__text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  }
  
  