.section-post{
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
    }
  
  .section-post__list{
    // display: flex;
    // gap: 30px;

    @media screen and (min-width:480px){
    
    }
  
  @media screen and (min-width:768px){
      display: flex;
      gap: 30px;
  }
  
  @media screen and (min-width:1200px){
      display: flex;
      gap: 30px;
  }

  }
  
  .section-post__item{
    // width: 370px;
    text-align: left;
    @extend %list;

    @media screen and (min-width:480px){
      width:450px;
      height: 226px;
      margin-bottom: 30px;
    }
  
  @media screen and (min-width:768px){
      width:654px;
      height: 226px;
 
  }
  
  @media screen and (min-width:1200px){
      width:270px;
      height: 251px; 
  }

  }
  
  .section-post__conteiner{
    // width: 270px;
    // height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $button-color;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    @media screen and (min-width:480px){
      width:450px;
      height: 120px;
    }
  
  @media screen and (min-width:768px){
      width:354px;
      height: 120px;
 
  }
  
  @media screen and (min-width:1200px){
      width:270px;
      height: 120px; 
  }
  }
  
  .section-post__icon{
    width:70px;
    height:70px;
  }
  
  .section-post__title{
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;

@media screen and (min-width:480px){
  text-align: center;
  }

@media screen and (min-width:768px){
  text-align: left;
}

@media screen and (min-width:1200px){
  text-align: left;
}
  }
  
  .section-post__text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  }
  
  