.section-work{
    padding-bottom: 94px;
  }
  
  .section-work__caption{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    }
  
  .section-work__conteiner{
  display: flex;
  gap: 30px;
  }
  
  .section-work__overlay{
    position: relative;
  }
  
  .section-work__img{
   display: flex;
  }
  
  .section-work__tip{
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
  
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .section-work__text{
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  }
  