.section-team{
    padding-bottom: 94px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    background-color: $button-color;
  }
  .section-team__caption{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    }
  
  .section-team__list{
  display: flex;
  justify-content: space-between;
  @extend %list;
  }
  
  
  .section-team__subtitle{
  border: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $white-color;
  }
   
  .section-team__picture{
  margin-bottom: 30px;
  }
  
  .section-team__name{
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  }
  
  .section-team__job{
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  }
  
  