html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing:inherit;
  }
  
  ol, ul, li{
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }
  
  p{
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: $white-color;
  }
  
 