$primary-text-color:#212121;
$secondary-text-color:#757575;
$accent-color:#2196F3;
$contact-color:rgba(255, 255, 255, 0.6);
$logo-color:#000000;
$button-color:#F5F4FA;
$background-color:#2F303A;
$white-color:#FFFFFF;
$color-examples-border:#EEEEEE;
$box-button:#AFB1B8;
$border-header:#E5E5E5;
$overlay-color: rgba(33, 150, 243, 0.9);
$background-email:#2F303A;
$background-social: rgba(255, 255, 255, 0.1);