/* examples-conteiner */
.examples-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @extend %list;
  }
  
  .examples-conteiner__border{
    width: 370px;
    height: 404px;
    border: 1px solid $color-examples-border;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:nth-child(n + 7){
      margin-bottom:0px;}
  
    &:hover{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}         
        
   
  .examples-conteiner__img{
    position: relative;
    overflow: hidden;
  }
      
  .examples-conteiner__picture{
    display: block;
  }
  
         
  .examples-conteiner__overlay{
   width: 100%;
   height: 100%;
   background-color:$overlay-color;
   position: absolute;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transform:translateY(100%);
  
  .examples-conteiner__border:hover &{
    transform:translateY(-100%);}
   }  
      
  .examples-conteiner__item{
    display: inline-flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
      
  .examples-conteiner__paragraph{
   display: block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 0.03em;
   color: $white-color;
   width: 322px;
   height: 168px;
  }
      
      
      /*examples-table*/
  
  .examples-table{
   padding: 20px 24px;
  }
      
  .examples-table__title{
   margin-bottom: 4px;
      
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: $primary-text-color;
  }
      
  .examples-table__text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.03em;
   color: $secondary-text-color;
  }


  